 #map-canvas {
                border-radius: 20px;
                border-color: #5bc0de;
                border-style: solid;
                border-width: 10px;
                height: 600px;  
            }
