<!DOCTYPE html>
<html>
<head>
	<title>FoodTruck Finder</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/bootstrap-3.3.5-dist/css/bootstrap.css">
</head>

<body>

<div class="container">
<h1 class="text-center">FoodTruck Finder</h1>
<div class="row">

<h3 class="text-center">Find a Food Truck near you</h3>
<br><br>

<div class="col-sm-4 text-center">
<button class="btn btn-primary btn-large" id= "sign-up-button" type="button">Sign Up</button>
</div>
<div class="col-sm-4 text-center">
<button class="btn btn-success btn-large" id= "login-button" type="button">Login</button>
</div>
<div class="col-sm-4 text-center">
<button class="btn btn-info btn-large" id= "view-map-button" type="button">View Map</button>
</div>
<script src="../static/Index.js"></script>

</body>

</html>