<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/bootstrap-3.3.5-dist/css/bootstrap.css">
	<title>Login</title>
</head>

<body>

<div class="container">
<div class="row">
<div class="col-lg-4 col-lg-offset-4"></div>
<div class="col-lg-4 col-lg-offset-4">
<h1>Login</h1>
<h3 class="text-left">Username:</h3>

<input id="username-input" type="text">

<h3 class="text-left">Password:</h3>

<input id="password-input" type="text">
<br><br>
<div class="text-left">
<button class="btn btn-success" id="submit-button" type="button">Submit</button>
</div>
</div>
</body>
</html>